DATABASE_URL="file:./data.db"
BETTER_AUTH_SECRET="your-secret-key-here-please-change-this"
BETTER_AUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID="MOCK_GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="MOCK_GITHUB_CLIENT_SECRET"